*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(25, 25, 75);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    height: 15vh;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header img {
    width: rem;
    height: 10vh;
    border-radius: 1000px;
    border: 3px solid white;
    background-color: aquamarine;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
h1{
    color: whitesmoke;
}
label{
    color: whitesmoke;
}
#text-input{
    margin-top: 20px;
    border-bottom: 2px solid white;
    width: 40%;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    color: rgb(89, 89, 201);
    margin-bottom:15px ;
}
#text-input:focus{
    outline: none;
    border-bottom: 5px solid lightcoral;
}
#check-btn{
    border-radius: 5px;
    border: 2px solid green;
    background-color: rgb(25, 228, 25);
    color: whitesmoke;
    padding-block: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
span{
   
    color: whitesmoke;
    border: 2px dashed white;
    margin-left: 2px;
}
#result.hidden {
    display: none;
}

#result {
    display: block; /* Esto lo muestra solo cuando se activa */
}
